body{
    margin: 1%;
    padding: 1%;
    display: block;
}

header{
    color: rgb(89, 89, 220);
    text-align: center;
    font-family: Franklin Gothic Medium;
    background-color: rgb(0, 0, 0);
    padding: 2%;
}



section{
    padding: 2%;
    margin: 1%;
    font-size: 1.2em;
    width: 80%;
    line-height: 190%;
}

h3{
    color: rgb(89, 89, 220);
    font-family: Franklin Gothic Medium;
}

img{
    width: 460px;
    margin: 0 2.5rem;
}


@media screen and (min-width: 768px){
    .center{
        display: block;
        width: 80%;
    }
}

@media screen and (min-width: 850px){
    .left{
        float: left;
        width: 40%;
    }

}

@media screen and (min-width: 900px){
    .left{
        float:left;
        width: 40%;
    }
}

@media screen and (min-width: 1100px){
    .left{
        float: left;
        width: 40%;
    }
}

@media screen and (min-width: 720px) and (max-width: 900px){
    section{
        background-color: rgb(191, 177, 177);
    }
}
